@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
	outline: none;
	text-decoration: none;
}

html {
	font-size: 62.5%;
}

:root {
	--strong-cyan: hsl(171, 66%, 44%);
	--light-blue: hsl(233, 100%, 69%);

	--dark-grayish-blue: hsl(210, 10%, 33%);
	--grayish-blue: hsl(201, 11%, 66%);

	--heading-color: var(--dark-grayish-blue);
	--para-color: var(--grayish-blue);
}

body {
	font-family: 'Bai Jamjuree', sans-serif;
	font-size: 1.8rem;
}

.container-small {
	max-width: 75rem;
	margin-left: auto;
	margin-right: auto;
	padding: 0 1.5rem;
	text-align: center;
}
.container-large {
	max-width: 130rem;
	margin-left: auto;
	margin-right: auto;
	padding: 0 1.5rem;
	text-align: center;
}

/* ************************************section 1 ******* */
.section-1 {
	width: 100%;
	background-image: url(images/bg-header-desktop.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.logo img {
	width: 15rem;
	margin-top: 12rem;
	margin-bottom: 5rem;
}

.section-1 h1 {
	font-size: 4.5rem;
	margin-bottom: 2rem;
	color: var(--heading-color);
}
.section-1 .container-small > p {
	color: var(--para-color);
	font-size: 2rem;
	font-weight: 400;
	line-height: 1.5;
	margin-bottom: 4rem;
}
.buttons {
	display: flex;
	align-items: center;
	margin-top: 5rem;
	justify-content: center;
}
.buttons button {
	width: 22rem;
	height: 5.5rem;
	font-size: 1.6rem;
	color: white;
	margin-right: 1.5rem;
	letter-spacing: 1px;
	border-radius: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}

.buttons .ios {
	background-color: var(--strong-cyan);
	box-shadow: inset 0px -2px 0 #2f9681, 0px 2px 12px 2px #2f968152;
}
.buttons .mac {
	background-color: var(--light-blue);
	box-shadow: inset 0px -2px 0 #5964be, 0px 2px 12px 2px #6173ff42;
}
.buttons button:hover {
	opacity: .8;
}
.text {
	margin-top: 15rem;
}
p {
	letter-spacing: 0.2px;
}
.text h2 {
	color: var(--heading-color);
	font-size: 3.5rem;
	font-weight: 600;
	margin-top: 3.5rem;
}
.text p {
	margin-top: 2rem;
	color: var(--para-color);
	line-height: 1.5;
	margin-bottom: 7rem;
}

/* ************************************** section 2 *********** */
.section-2 {
	display: flex;
	align-items: center;
	text-align: left;
}
.section-2 .image {
	width: 55%;
	margin-left: -3rem;
}
.section-2 .image img {
	width: 90%;
}
.features {
	margin-left: 5rem;
	margin-bottom: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 40rem;
}
.feature h3 {
	color: var(--heading-color);
	margin-bottom: 1rem;
	font-size: 2.3rem;
}
.feature p {
	color: var(--para-color);
	max-width: 35rem;
	font-size: 1.6rem;
	line-height: 1.5;
}
/* ************************************** section 3 *********** */
.section-3 .container-small {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.section-3 .container-small .image {
	margin-top: 3rem;
}
/* ************************************** section 4 *********** */
.section-4 .container-large {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.section-4 .text {
	margin-top: 65px;
}
.features2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15rem;
}
.feature2 {
	width: 35rem;
	gap: 3rem;
}
.feature2:not(:last-child) {
	margin-right: 20px;
}
.feature2 img {
	height: 3.2rem;
}
.feature2 h3 {
	color: var(--heading-color);
	margin: 4rem 0 2rem 0;
	font-size: 2.3rem;
}
.feature2 p {
	color: var(--para-color);
	font-size: 1.6rem;
	line-height: 1.7;
}
.logos {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
	gap: 10rem;
}
/* ************************************** section 5 *********** */
.section-5 {
	margin-bottom: 15rem;
}
.section-5 .buttons {
	margin-top: 0;
}
/* *************************************** footer ** */
footer {
	background-color: #f5f6f8;
	height: 150px;
}
footer .container-large {
	display: flex;
	align-items: center;
	height: 100%;
}
footer .container-large > img {
	height: 6rem;
	margin-right: 13rem;
}
.links {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr 1fr;
	gap: 2rem 7rem;
	text-align: left;
}
.links a {
	color: var(--dark-grayish-blue);
	transition: all .5s ease;
}
.links a:hover {
	color: var(--strong-cyan);
}
.icons {
	flex: 1;
	display: flex;
	justify-content: flex-end;
}
.icons a {
	margin-left: 2.5rem;
}
.icons a svg path {
	transition: all .5s ease;
}

.icons a svg:hover path {
	fill: var(--strong-cyan);
}

/* ****************************** responsive ******** */
@media (max-width: 1024px) {
	.features2 {
		justify-content: center;
		flex-wrap: wrap;
	}
	.feature2 {
		gap: 5rem;
		margin-top: 5rem;
	}

	.logos {
		width: 80%;
		flex-wrap: wrap;
		justify-content: center;
	}
}
@media (max-width: 800px) {
	.logo img {
		width: 10rem;
	}
	.section-1 h1 {
		font-size: 3.5rem;
	}
	.section-1 .container-small > p,
	.text p {
		font-size: 1.8rem;
	}
	.text h2 {
		font-size: 2.5rem;
	}
	.feature p {
		max-width: 30rem;
	}
	.section-3 .container-small .image img {
		width: 85%;
	}
	.logos {
		width: 90%;
	}
	footer .container-large > img {
		margin-right: 10rem;
	}
	.links {
		gap: 1rem 4rem;
		text-align: left;
	}
}
@media (max-width: 720px) {
	.feature p {
		padding-right: 1rem;
	}
}
@media (max-width: 600px) {
	footer {
		height: auto;
	}
	footer .container-large {
		flex-direction: column;
		gap: 5rem;
	}
	footer .container-large > img {
		margin-top: 2rem;
		margin-right: 0;
	}
	.links {
		width: 80%;
		display: flex;
		text-align: center;
	}
	.icons {
		justify-content: center;
	}
}

@media (max-width: 540px) {
	.section-1 {
		background-image: url(images/bg-header-mobile.png);
	}
	.section-1 h1 {
		padding: 0 5rem;
	}
	.buttons {
		flex-direction: column;
		gap: 3rem;
	}
	.buttons button {
		width: 80%;
	}
	.text p {
		padding: 0 4rem;
	}
	.section-2 {
		flex-direction: column;
		text-align: center;
	}
	.section-2 .image {
		width: 100%;
		margin-left: 0;
		margin-bottom: 4rem;
	}
	.section-2 .image img {
		width: 80%;
	}
	.features {
		margin-left: 0;
	}
	.feature p {
		max-width: 35rem;
	}
	.links {
		flex-direction: column;
		gap: 3rem;
	}
	.icons {
		margin-bottom: 3rem;
	}
}
@media (max-width: 390px) {
	html {
		font-size: 58.5%;
	}
	.section-1 h1 {
		padding: 0 1rem;
	}
}
@media (max-width: 390px) {
	.section-4 .container-large {
		align-items: unset;
	}
}
